@model proiect.Models.Order

<h1>Ești sigur că vrei să ștergi comanda?</h1>
<form asp-action="DeleteOrder">
    <input asp-for="Id" type="hidden" />
    <input type="submit" value="Șterge" />
</form>
